body{
    background-color: #116A7B;
}
h1 {
    text-align: center;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #CDC2AE;
  }
.prepareUl {
  list-style-type: square;
  background-color: #CDC2AE;
}
  
  #pages {
    float: left;
  }
  
  #display {
    display: block;
    color: #116A7B;
    padding: 8px;
  }
  #display:hover:not(.active) {
    background-color: #C2DEDC;
  }

.computer-science{
    display: block;
    margin:  auto;
 }

 button.prepare{
  background-color: #116A7B;
  border: none;
  padding-bottom: 0px;
  transition-duration: 0.4s;
}
 button.prepare:hover{
  background-color: #C2DEDC;
 }

 .internalPrepare{
  padding-left: 100px;
  overflow:hidden;
  display:none;  
 } 