body{
    background-color: #C2DEDC;
}

h1 {
    text-align: center;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #CDC2AE;
}
  
  #pages {
    float: left;
  }
  
  #display {
    display: block;
    color: #116A7B;
    padding: 8px;
  }
  #display:hover:not(.active) {
    background-color: #ECE5C7;
  }
  #box{
    width: 450px;
    border: 5px solid #116A7B;
    padding: 10px;
  }
 