body{
    background-color: #C2DEDC;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

h5 {
    text-align: center;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #CDC2AE;
  }
.prepareUl {
  list-style-type: square;
  background-color: #CDC2AE;


}
  
  #pages {
    float: left;
  }
  
  #display {
    display: block;
    color: #116A7B;
    padding: 8px;
  }
  #display:hover:not(.active) {
    background-color: #ECE5C7;
  }

  #box{
    width: 450px;
    border: 5px solid #116A7B;
    padding: 10px;
  }


.computer-science{
    display: block;
    margin:  auto;
 }

 button.prepare{
  background-color: #C2DEDC;
  border: none;
  padding-bottom: 0px;
  transition-duration: 0.4s;
}
 button.prepare:hover{
  background-color: #116A7B;
  cursor: pointer;
 }

 .internalPrepare{
  padding-left: 100px;
  overflow:hidden;
  display:none;  
 } 

.imgClasses {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.accordion {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 150px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }

  .panel {
    padding: 2 20px;
    display: none;
    overflow: hidden;
  }

  .description {
    width: 600px;
    background-color: white;
    border-radius: 3% / 70%;
    padding-left: 30px;
  }


 table {
    border-collapse: collapse;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
 }

 td, th {
    border: 5px solid #116A7B;
    text-align: left;
    padding: 8px;
  }

